*~
\#*
.\#*
*.o
stamp-*
*.core

/.deps
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/autoscan-*.log
/config.log
/config.status
/configure
/configure.scan
/pedant

/src/.deps
/src/.dirstamp
/src/config.h
/src/config.in
